$font-size-normal: 1rem !default;
$font-size-huge: 2 * $font-size-normal !default;
$font-size-larger: 1.5 * $font-size-normal !default;
$font-size-large: 1.2 * $font-size-normal !default;
$font-size-small: 0.8 * $font-size-normal !default;
$font-size-tiny: 0.6 * $font-size-normal !default;

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-black: 800 !default;

$font-family-sans-serif: 'Roboto', sans-serif !default;

$rounded-sm: 0.25rem !default;
$rounded-md: 0.5rem !default;
$rounded-lg: 1rem !default;
$rounded-xl: 2rem !default;
$rounded-2xl: 4rem !default;
$rounded-full: 9999px !default;

$black: #000000 !default;
$white: #ffffff !default;

$slate: (
    50: #f8fafc,
    100: #f1f5f9,
    200: #e2e8f0,
    300: #cbd5e1,
    400: #94a3b8,
    500: #64748b,
    600: #475569,
    700: #334155,
    800: #1e293b,
    900: #0f172a,
    950: #020617
) !default;

$gray: (
    50: #f9fafb,
    100: #f4f5f7,
    200: #e5e7eb,
    300: #d2d6dc,
    400: #9fa6b2,
    500: #6b7280,
    600: #4b5563,
    700: #374151,
    800: #252f3f,
    900: #161e2e,
    950: #0a0e17
) !default;